h1 {
    border: 2px solid powderblue;
    padding: 30px;
    font-family: verdana;
    font-size: 300%;
    margin: 50px;
    text-align: center;
}
nav li {
  display: inline;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:20px; 
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
  color:rgb(249, 249, 250);
  margin-left: 150px;
  border: 1px solid;
  background-color:rgb(19, 9, 160);
}
h3{
  background-color: rgb(19, 87, 165);
  color: rgb(233, 231, 236);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

img {
   
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}
p.center {
          color: rgb(7, 7, 1);
          background-color: rgb(199, 196, 196);
          font-size: 20px;
          text-align: justify;
          
        }
        
 p.large {
          font-size: 20px;
          text-indent: 50px;
          text-align: justify;
       
        }
   iframe {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 500px;
   }
 
  
  ul {
  
    text-align: center;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  }


   h4{
    text-shadow: 0 0 3px #3f4099;
    text-decoration-line: underline;
  text-decoration-style: double;
  text-align: center;
  font-size: x-large;
  margin bottom: 100px;
   }

   #sign {
     font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
   }
   
   #sign td, #customers th {
     border: 1px solid #ddd;
     padding: 8px;
   }
   

   #sign th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #3a53be;
     color: white;
   } 